:root {
    /* COLORS */
    --color-black-100: #FFFFFF;
    --color-black-200: #7A7A7A;
    --color-black-300: #111111;
    --color-black-400: #000000;

    --color-green-100: #09A858;
    --color-green-200: #047a3f;

    /* FONT SIZES */
    --font-size-xs: 0.75rem;
    /* 12px */
    --font-size-sm: 1rem;
    /* 16px */
    --font-size-md: 1.25rem;
    /* 20px */
    --font-size-xl: 2rem;
    /* 32px */
    --font-size-heading: 2.5rem;
    /*  40px */

    /* SCREEN SIZES */
    /* could be used with scss, cannot with css */
    --small-screen: 600px;
    --medium-screen: 768px;
    --large-screen: 1024px;

    /* OTHER */
    --max-content-width: 1440px;
}