.section {
    justify-content: center;
    display: flex;
    gap: 100px;
    margin: auto;
    max-width: 954px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content p {
    color: var(--color-black-200);
    line-height: 1.625rem;
}

.content h2 {
    font-size: var(--font-size-xl);
}

@media (max-width: 1024px) {
    .section {
        flex-direction: column;
        gap: 24px;
        align-items: center;
        text-align: center;
    }

    .section_reversed {
        flex-direction: column-reverse;
    }
}